
@import "tailwindcss";

/* GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}